{% extends "layout.html" %}
{% block title %} Etusivu {% endblock %}
{% block content %}

<h1>Etusivu</h1>
<hr>
<h1>Keskusteluja:</h1>
<hr>
{% for post in posts %}
    | <a href="/viewpost/{{ post.id }}">{{ post.title }}</a> | 
    Omistaja: {{ post.username }} 
    
    {% if post.likes %}
        | Tykkäykset: {{ post.likes }} 
    {% endif %}

    {% if post.userid == session.user_id %}
        <form action="/hidepost" method="post" style="float: left;">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="pilloita">
            
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}
    
    {% if (post.userid == session.user_id or session.user_role == 1) %}
        <form action="/deletepost" method="post" style="float: left;">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="poista">

            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}
    <hr>

{% endfor %}

<p><h2>Hae keskusteluja</h2></p>
<hr>

<form action="/searchpost" method="post">
    <textarea name="search_term" placeholder="Hakutermi" rows="0" cols="100"></textarea>

    <br>
<input type="submit" value="Hae!">

</form>


{% endblock %}