<!DOCTYPE html>
<title>Keskustelufoorumi harjoitustyö: </title>
<h1>Keskustelufoorumi</h1>
<hr>
<p> <a href="/">Etusivu</a></p>

{% if session.user_username %}
    Kirjauduttu sisään. Käyttäjä: {{ session.user_username }} 
    <p><a href="/logout">Kirjaudu ulos</a></p>
    <p>
        <a href="/newpost">Luo uusi keskustelu</a> 
        <a href="/messages/{{ session.user_id }}">Yksityiskeskustelut</a>
        <a href="/myposts">Hallitse keskustelujani</a>
    </p>

{% else %}
    Ei kirjauduttu sisään. 
    <a href="/login">Kirjaudu Sisään.</a> 
    <a href="/register">Rekisteröidy.</a>

{% endif %}

<hr>

{% block  content%}{% endblock %}
