{% extends "layout.html" %}
{% block title %} Keskusteluni {% endblock %}
{% block content %}

<h1>Keskusteluni:</h1>
<hr>
{% for post in content %}
    | <a href="/viewpost/{{ post.id }}">{{ post.title }}</a> | 
    Omistaja: {{ post.username }} 
    
    {% if post.likes %}
        | Tykkäykset: {{ post.likes }} 
    {% endif %}

    {% if post.visible == 1 %}
        <form action="/hidepost" method="post" style="float: left;">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="pilloita">
        </form>
    {% else %}
    <form action="/hidepost" method="post" style="float: left;">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="submit" value="julkaise">
    </form>
    {% endif %}
    
        <form action="/deletepost" method="post" style="float: left;">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="poista">
        </form>
    <hr>

{% endfor %}

{% endblock %}