{% extends "layout.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
<hr>
{{ post.body }} <br> 

<br>
Lähettänyt: {{ post.username }}
<hr>

<h2>Kommentit:</h2>
<hr>

{% for comment in comments %}
{{ comment.username }} : {{ comment.comment }}
<hr>
{% endfor %}

<h2> Lisää Kommentti </h2>
<hr>

<form action="/comment" method="post">
<textarea name="comment" rows="0" cols="100"> 
Kommentti
</textarea>

<br>
<input type="submit" value="Kommentoi!">

</form>

{% endblock %}